@import "tailwindcss";

:root {
	--light: #e2e2e2;
	--dark: #181818;
}

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-bold;
	}
	h6 {
		@apply text-base font-bold;
	}

	a {
		@apply text-blue-500;
	}

	a:hover {
		@apply text-blue-600;
	}
}

body {
	background: var(--dark);
	color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
}
